{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>User API Data Display</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>{{ user.username }}'s API Data</h1>
        </header>
        <ul class="data-list">
            {% for item in user_profiles %}
                <li>{{ user.username }}</li>
                <li>{{ user.email }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>